.block-offer {
    background-color: $white;

    @include fluid(padding-top, 50px, 80px);
    @include fluid(padding-bottom, 50px, 80px);

    .l-cols {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        &__col {
            display: flex;
            width: 100%;
            margin: 0 15px 30px;
            box-sizing: border-box;

            @include bp(md) {
                width: calc(50% - 30px);
            }

            @include bp(lg) {
                width: calc(33.333333% - 30px);
            }
        }
    }

    .offer-item {
        position: relative;
        border: solid 1px $gray-light;
        border-radius: 3px;
        overflow: hidden;

        @include fluid(padding-top, 30px, 45px);
        @include fluid(padding-left, 30px, 45px);
        @include fluid(padding-right, 30px, 45px);
        @include fluid(padding-bottom, 20px, 30px);
        @include transition(background-color);

        &::before {
            position: absolute;
            bottom: 0;
            left: -5px;
            right: -5px;
            content: '';
            display: block;
            height: 4px;
            background-color: $gray;
            opacity: 0;
        }

        &:hover {
            background-color: $yellow;
            border: solid 1px $gray-light;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

            .c-button {
                opacity: 1;
                transform: translateY(0);
            }

            &::before {
                opacity: 1;
            }

            .offer-icon {
                &--basic {
                    display: none;
                    opacity: 0;
                }

                &--hover {
                    display: block;
                    opacity: 1;
                }
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            @include fluid(height, 40px, 63px);

            .offer-icon {
                height: 100%;
                width: auto;
                transition: opacity 1s ease-in-out;

                &--hover {
                    display: none;
                    opacity: 0;
                }
            }
        }

        &__header {
            margin: 0;

            @include fluid(font-size, 20px, 24px);
            @include fluid(margin-top, 15px, 25px);
        }

        &__description {
            @include fluid(margin-top, 5px, 20px);
        }

        .c-button {
            border: solid 1px $yellow;
            color: $gray;

            @include bp(md) {
                opacity: 0;

                transform: translateY(-5px);
            }


            @include transition(transform, .5s);
            @include fluid(margin-top, 15px, 30px);

            &:hover {
                color: $white;
            }
        }
    }
}
