.p-archive-faq {
    $n: &;

    &__wrapper {
        background-color: $gray-light-3;

        @include fluid(padding-top, 30px, 50px);
        @include fluid(padding-bottom, 30px, 50px);
    }

    &__item {
        @include fluid(margin-top, 30px, 50px);

        &--active {
            #{$n}__question {
                background-color: $yellow;
            }
        }
    }

    &__question {
        margin: 0;
        background-color: $white;
        color: $gray;
        border-radius: 3px;
        cursor: pointer;

        @include transition(background-color);
        @include fluid(font-size, 15px, 20px);
        @include fluid(padding-top, 20px, 27px);
        @include fluid(padding-bottom, 20px, 27px);
        @include fluid(padding-right, 50px, 60px);
        @include fluid(padding-left, 20px, 30px);

        &:hover {
            background-color: $yellow;
        }
    }

    &__answer {
        @include fluid(padding-top, 20px, 30px);
        @include fluid(padding-bottom, 5px, 10px);
        @include fluid(padding-right, 20px, 30px);
        @include fluid(padding-left, 20px, 30px);
    }
}
