.block-logos {
    $n: &;

    background: url(../images/block-benefits__bg.jpg) center center no-repeat;
    background-size: cover;

    @include fluid(padding-top, 50px, 80px);
    @include fluid(padding-bottom, 60px, 100px);

    .logos-slider {
        position: relative;
        max-width: calc(100vw - 150px);
        margin: auto;

        .slick-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 15px;
            background-color: $white;
            border: solid 1px $white;

            @include transition(border);
            @include fluid(height, 120px, 150px);

            a {
                & > img {
                    @include transition(transform);
                }

                &:hover {
                    & > img {
                        transform: translateY(-5px);
                    }
                }
            }

            &:hover {
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
                border: solid 1px $yellow;
            }
        }

        &__item {
            max-width: 80%;
            max-height: 70px;
            width: auto;
            height: auto;
            margin: auto;
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            content: '';
            text-indent: -999999px;
            border: none;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            outline: none;
            cursor: pointer;

            @include fluid(width, 25px, 35px);
            @include fluid(height, 20px, 30px);

            &:hover,
            &:active {
                outline: none;
                opacity: .5;
            }

            &.slick-prev {
                left: 0;
                background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="35" height="29.167" viewBox="0 0 35 29.167"%3E%3Cpath d="M41.542 25.125H12.449l11.14-10.611a1.459 1.459 0 0 0-2.012-2.114L8.855 24.52a2.916 2.916 0 0 0 .026 4.15l12.7 12.094a1.458 1.458 0 1 0 2.012-2.112L12.4 28.042h29.142a1.458 1.458 0 0 0 0-2.917z" data-name="arrow-left" transform="translate(-8 -12)" style="fill:%23ffcd00"/%3E%3C/svg%3E%0A');
                transform: translateX(-100%) translateY(-50%);
            }

            &.slick-next {
                right: 0;
                background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="35" height="29.167" viewBox="0 0 35 29.167"%3E%3Cpath d="M9.458 25.125h29.093l-11.14-10.611a1.459 1.459 0 0 1 2.012-2.114l12.722 12.12a2.916 2.916 0 0 1-.026 4.15l-12.7 12.094a1.458 1.458 0 1 1-2.012-2.112L38.6 28.042H9.458a1.458 1.458 0 0 1 0-2.917z" data-name="arrow-right" transform="translate(-8 -12)" style="fill:%23ffcd00"/%3E%3C/svg%3E');
                transform: translateX(100%) translateY(-50%);
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0;
            transform: translateY(100%);
            list-style: none;

            @include fluid(padding-top, 7px, 15px);

            & > li {
                list-style: none;

                @include fluid(margin, 5px, 10px);
            }

            button {
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                background-color: $gray-light;
                border: none;
                border-radius: 50%;
                text-indent: -999999px;
                outline: none;
                cursor: pointer;
                line-height: 1;

                &:hover,
                &:active {
                    background-color: $yellow;
                    outline: none;
                }
            }

            .slick-active {
                button {
                    background-color: $yellow;
                }
            }
        }
    }
}
